[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonify = "*"
flask = "*"
pymysql = "*"
sklearn = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
